.drag_container {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 2%;
}

.drop_cards {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.drop_header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
}

.drop_header h2 {
    font-size: 27px;
    letter-spacing: 1.5px;
}

.matching_container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #d6def7, -3px -3px 5px #e7ebf7;
}

hr {
    border-bottom: crimson;
}

.matching-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.matching-top li {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #d6def7, -3px -3px 5px #e7ebf7;
}

.matching-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.matching-bottom li {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #d6def7, -3px -3px 5px #e7ebf7;
}

.matching_btn {
    padding: 7px 16px;
    border-radius: 10px;
    border: 1px solid black;
    color: gray;
    background-color: transparent;
}

.matching-answer {
    color: red;
    text-align: right;
}