.navbar_page {
  width: 100%;
  height: 80px;
  /* background: blueviolet; */
}

.navbar {
  width: 100%;
  height: 80px;
  background: #f0f0f1;
  background: #cfcef8;
  display: flex;
  align-items: center;
  padding: 7px 2%;
  gap: 10px;
}

.header_logo {
  width: 75px;
  height: 70px;
  border-radius: 50%;
}

.header_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header_text {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 5px 2px;
  border-bottom: 1px solid #fff;
}

.header_text span {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
}
