* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
}

button,
svg {
  cursor: pointer;
}
